In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_transactions.csv"
customer_dem_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_customer_demographic.csv"
customer_addr_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_customer_address.csv"
new_customer_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_new_customer_list.csv"

In [3]:
df_transactions = pd.read_csv(transactions_file)
df_customer_dem = pd.read_csv(customer_dem_file)
df_customer_addr = pd.read_csv(customer_addr_file)
df_new_customer = pd.read_csv(new_customer_file)

In [4]:
%%capture
! pip install seaborn

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df_transactions['transaction_date'] = pd.to_datetime(df_transactions['transaction_date'])
df_customer_dem['DOB'] = pd.to_datetime(df_customer_dem['DOB'], format="%Y-%m-%d")
df_new_customer['DOB'] = pd.to_datetime(df_new_customer['DOB'], format="%Y-%m-%d")

In [7]:
df_customer_dem['DOB']

0      1953-10-12
1      1980-12-16
2      1954-01-20
3      1961-10-03
4      1977-05-13
          ...
3995   1975-08-09
3996   2001-07-13
3997   1977-07-12
3998   1973-10-24
3999   1991-11-05
Name: DOB, Length: 4000, dtype: datetime64[ns]

In [8]:
df_age = 2020 - df_customer_dem['DOB'].dt.year
df_customer_dem['age'] = df_age
df_customer_dem.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,age
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11,67
1,2,Eli,Bockman,M,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16,40
2,3,Arlin,Dearle,M,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15,66
3,4,Talbot,NaN,M,33,1961-10-03,Business Systems Development Analyst,IT,Mass Customer,N,No,7,59
4,5,Sheila-kathryn,Calton,F,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,Yes,8,43

In [9]:
df_customer_dem[['past_3_years_bike_related_purchases', 'age']].corr()

,past_3_years_bike_related_purchases,age
past_3_years_bike_related_purchases,1.000000,-0.028871
age,-0.028871,1.000000

In [10]:
df_age = 2020 - df_new_customer['DOB'].dt.year
df_new_customer['age'] = df_age
df_new_customer.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value,age
0,Chickie,Brister,M,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750,63
1,Morly,Genery,M,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750,50
2,Ardelis,Forrester,F,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750,46
3,Lucine,Stutt,F,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125,41
4,Melinda,Hadlee,F,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125,55

In [11]:
df_new_customer.to_csv('cleaned_new_customer_list.csv', index=False)
df_customer_dem.to_csv('cleaned_customer_demographic.csv', index=False)