In [1]:
import pandas as pd
import numpy as np

In [3]:
file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/CustomerAddress.csv"
df = pd.read_csv(file)

In [4]:
df.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [5]:
df.dtypes

customer_id            int64
address               object
postcode               int64
state                 object
country               object
property_valuation     int64
dtype: object

In [ ]:
#  clean up data

In [6]:
df.to_csv('cleaned_customer_address.csv')

In [7]:
df['customer_id'].value_counts()

2047    1
653     1
2728    1
677     1
2724    1
       ..
3371    1
1322    1
3367    1
1318    1
2049    1
Name: customer_id, Length: 3999, dtype: int64

In [8]:
df['address'].value_counts()

64 Macpherson Junction      2
3 Mariners Cove Terrace     2
3 Talisman Place            2
1786 Orin Street            1
11606 Myrtle Street         1
                           ..
40047 Twin Pines Parkway    1
11 Ryan Hill                1
1 Dayton Park               1
02 Boyd Crossing            1
32 Banding Center           1
Name: address, Length: 3996, dtype: int64

In [9]:
df['postcode'].value_counts()

2170    31
2155    30
2145    30
2153    29
2770    26
        ..
4552     1
4555     1
2485     1
3580     1
4421     1
Name: postcode, Length: 873, dtype: int64

In [10]:
df['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [11]:
df['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [12]:
df['property_valuation'].value_counts()

9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: property_valuation, dtype: int64

In [13]:
dict = {'New South Wales': 'NSW', 'Victoria': 'VIC', 'Queensland': 'QLD'}

In [16]:
df['state'] = df['state'].replace(dict)

In [17]:
df['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64