In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/CustomerDemographic.csv"
df = pd.read_csv(file)

In [3]:
df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,1-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [4]:
df.dtypes

customer_id                              int64
first_name                              object
last_name                               object
gender                                  object
past_3_years_bike_related_purchases      int64
DOB                                     object
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
default                                 object
owns_car                                object
tenure                                 float64
dtype: object

In [5]:
#  clean up data

In [6]:
df['DOB'] = pd.to_datetime(df['DOB'])

In [7]:
df['tenure'] = df['tenure'].fillna(0)
df['tenure'] = df['tenure'].astype('int')

In [8]:
df['gender'] = df['gender'].str[0].str.upper()

In [9]:
df = df.drop('default', 1)

In [10]:
df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11
1,2,Eli,Bockman,M,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16
2,3,Arlin,Dearle,M,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15
3,4,Talbot,NaN,M,33,1961-10-03,NaN,IT,Mass Customer,N,No,7
4,5,Sheila-kathryn,Calton,F,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8

In [11]:
df.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
owns_car                                       object
tenure                                          int64
dtype: object

In [12]:
df['customer_id'].value_counts()

2047    1
657     1
2732    1
681     1
2728    1
       ..
3371    1
1322    1
3367    1
1318    1
2049    1
Name: customer_id, Length: 4000, dtype: int64

In [13]:
df['gender'].value_counts()

F    2039
M    1873
U      88
Name: gender, dtype: int64

In [14]:
df['past_3_years_bike_related_purchases'].value_counts()

16    56
19    56
20    54
67    54
2     50
      ..
8     28
86    27
95    27
85    27
92    24
Name: past_3_years_bike_related_purchases, Length: 100, dtype: int64

In [15]:
df['DOB'].value_counts()

1978-01-30    7
1977-05-13    4
1976-07-16    4
1978-08-19    4
1976-09-25    4
             ..
1974-06-16    1
1969-11-21    1
1961-11-24    1
1995-05-03    1
1972-04-14    1
Name: DOB, Length: 3448, dtype: int64

In [16]:
df['job_title'].value_counts()

Business Systems Development Analyst    45
Social Worker                           44
Tax Accountant                          44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Research Assistant III                   3
Health Coach I                           3
Health Coach III                         3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [17]:
df['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [18]:
df['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64

In [19]:
df['deceased_indicator'].value_counts()

N    3998
Y       2
Name: deceased_indicator, dtype: int64

In [20]:
df['owns_car'].value_counts()

Yes    2024
No     1976
Name: owns_car, dtype: int64

In [21]:
df['tenure'].value_counts()

7     235
5     228
11    221
10    218
16    215
8     211
18    208
12    202
14    200
9     200
6     192
4     191
13    191
17    182
15    179
1     166
3     160
19    159
2     150
20     96
0      87
22     55
21     54
Name: tenure, dtype: int64

In [22]:
df.to_csv('cleaned_customer_demographic.csv')

In [23]:
df.describe()

       customer_id  past_3_years_bike_related_purchases       tenure
count  4000.000000                          4000.000000  4000.000000
mean   2000.500000                            48.890000    10.425250
std    1154.844867                            28.715005     5.810108
min       1.000000                             0.000000     0.000000
25%    1000.750000                            24.000000     6.000000
50%    2000.500000                            48.000000    10.000000
75%    3000.250000                            73.000000    15.000000
max    4000.000000                            99.000000    22.000000

In [24]:
df.corr()

,customer_id,past_3_years_bike_related_purchases,tenure
customer_id,1.000000,-0.002529,-0.020840
past_3_years_bike_related_purchases,-0.002529,1.000000,0.000418
tenure,-0.020840,0.000418,1.000000