In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/Transactions.csv"
df = pd.read_csv(file)

In [5]:
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2/25/2017,False,Approved,Solex,Standard,medium,medium,71.49,$53.62,41245.0
1,2,3,3120,5/21/2017,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,$388.92,41701.0
2,3,37,402,10/16/2017,False,Approved,OHM Cycles,Standard,low,medium,1793.43,$248.82,36361.0
3,4,88,3135,8/31/2017,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,$381.10,36145.0
4,5,78,787,10/1/2017,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,$709.48,42226.0

In [6]:
df.dtypes

transaction_id               int64
product_id                   int64
customer_id                  int64
transaction_date            object
online_order                object
order_status                object
brand                       object
product_line                object
product_class               object
product_size                object
list_price                 float64
standard_cost               object
product_first_sold_date    float64
dtype: object

In [ ]:
#  clean up data

In [11]:
df['standard_cost'] = df['standard_cost'].astype(str).str.replace('$', '')

In [12]:
df['standard_cost'] = df['standard_cost'].astype(str).str.replace(',', '')

In [13]:
df['product_first_sold_date'] = df['product_first_sold_date'].fillna(0)

In [14]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

In [15]:
df['standard_cost'] = df['standard_cost'].astype('float')

In [16]:
df['product_first_sold_date'] = df['product_first_sold_date'].astype('int')

In [17]:
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
1,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
2,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
3,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145
4,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226

In [18]:
df.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                       object
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date             int64
dtype: object

In [19]:
df.to_csv('cleaned_transactions.csv')

In [32]:
df['transaction_id'].value_counts()

2047     1
10912    1
12947    1
2708     1
661      1
        ..
7481     1
1338     1
3387     1
13628    1
2049     1
Name: transaction_id, Length: 20000, dtype: int64

In [33]:
df['product_id'].value_counts()

0      1378
3       354
1       311
35      268
38      267
       ...
71      137
8       136
16      136
100     130
47      121
Name: product_id, Length: 101, dtype: int64

In [34]:
df['customer_id'].value_counts()

2183    14
1068    14
2476    14
2072    13
1672    13
        ..
2395     1
1569     1
1203     1
2271     1
1544     1
Name: customer_id, Length: 3494, dtype: int64

In [35]:
df['transaction_date'].value_counts()

2017-02-14    82
2017-08-18    82
2017-10-15    76
2017-01-31    73
2017-12-19    71
              ..
2017-01-12    38
2017-12-07    37
2017-03-29    36
2017-09-25    35
2017-10-19    32
Name: transaction_date, Length: 364, dtype: int64

In [36]:
df['online_order'].value_counts()

True     9829
False    9811
Name: online_order, dtype: int64

In [37]:
df['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [38]:
df['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [39]:
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [40]:
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [41]:
df['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [42]:
df['list_price'].value_counts()

2091.47    465
1403.50    396
71.49      274
1231.15    235
1890.39    233
          ...
489.58       1
1348.41      1
883.91       1
1220.66      1
1142.89      1
Name: list_price, Length: 296, dtype: int64

In [43]:
df['standard_cost'].value_counts()

388.920000    465
954.820000    396
53.620000     274
161.600000    235
260.140000    233
             ...
151.960000    124
206.350000    114
270.299988      1
667.400024      1
312.735016      1
Name: standard_cost, Length: 103, dtype: int64

In [44]:
df['product_first_sold_date'].value_counts()

33879    234
41064    229
37823    227
39880    222
38216    220
        ...
41848    169
42404    168
41922    166
37659    163
34586    162
Name: product_first_sold_date, Length: 101, dtype: int64

In [30]:
df.describe()

,transaction_id,product_id,customer_id,list_price,standard_cost,product_first_sold_date
count,20000.000000,20000.00000,20000.000000,20000.000000,19803.000000,20000.000000
mean,10000.500000,45.36465,1738.246050,1107.829449,556.046951,37823.508750
std,5773.647028,30.75359,1011.951046,582.825242,405.955660,4734.747044
min,1.000000,0.00000,1.000000,12.010000,7.210000,0.000000
25%,5000.750000,18.00000,857.750000,575.270000,215.140000,35560.000000
50%,10000.500000,44.00000,1736.000000,1163.890000,507.580000,38206.000000
75%,15000.250000,72.00000,2613.000000,1635.300000,795.100000,40672.000000
max,20000.000000,100.00000,5034.000000,2091.470000,1759.850000,42710.000000

In [31]:
df.corr()

,transaction_id,product_id,customer_id,list_price,standard_cost,product_first_sold_date
transaction_id,1.000000,-0.011486,0.001753,-0.006154,-0.003291,-0.006114
product_id,-0.011486,1.000000,0.004278,0.090066,0.038765,0.085578
customer_id,0.001753,0.004278,1.000000,0.009306,0.005365,0.007366
list_price,-0.006154,0.090066,0.009306,1.000000,0.551539,0.038001
standard_cost,-0.003291,0.038765,0.005365,0.551539,1.000000,0.031088
product_first_sold_date,-0.006114,0.085578,0.007366,0.038001,0.031088,1.000000