In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_transactions.csv"
customer_dem_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_customer_demographic.csv"
customer_addr_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_customer_address.csv"
new_customer_file = "/Users/ryotayamaoka/Desktop/kpmg_mod2/cleaned_new_customer_list.csv"

In [3]:
df_transactions = pd.read_csv(transactions_file)
df_customer_dem = pd.read_csv(customer_dem_file)
df_customer_addr = pd.read_csv(customer_addr_file)
df_new_customer = pd.read_csv(new_customer_file)

In [4]:
%%capture
! pip install seaborn

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df_transactions.dtypes

transaction_id               int64
product_id                   int64
customer_id                  int64
transaction_date            object
online_order                object
order_status                object
brand                       object
product_line                object
product_class               object
product_size                object
list_price                 float64
standard_cost              float64
product_first_sold_date      int64
dtype: object

In [7]:
df_transactions.corr()

,transaction_id,product_id,customer_id,list_price,standard_cost,product_first_sold_date
transaction_id,1.000000,-0.011486,0.001753,-0.006154,-0.003736,-0.006114
product_id,-0.011486,1.000000,0.004278,0.090066,0.044318,0.085578
customer_id,0.001753,0.004278,1.000000,0.009306,0.005759,0.007366
list_price,-0.006154,0.090066,0.009306,1.000000,0.548425,0.038001
standard_cost,-0.003736,0.044318,0.005759,0.548425,1.000000,0.051299
product_first_sold_date,-0.006114,0.085578,0.007366,0.038001,0.051299,1.000000

In [8]:
df_customer_dem.dtypes

customer_id                             int64
first_name                             object
last_name                              object
gender                                 object
past_3_years_bike_related_purchases     int64
DOB                                    object
job_title                              object
job_industry_category                  object
wealth_segment                         object
deceased_indicator                     object
owns_car                               object
tenure                                  int64
dtype: object

In [9]:
df_customer_dem.corr()

,customer_id,past_3_years_bike_related_purchases,tenure
customer_id,1.000000,-0.002529,-0.020840
past_3_years_bike_related_purchases,-0.002529,1.000000,0.000418
tenure,-0.020840,0.000418,1.000000

In [10]:
df_customer_addr.dtypes

customer_id            int64
address               object
postcode               int64
state                 object
country               object
property_valuation     int64
dtype: object

In [11]:
df_customer_addr.corr()

                    customer_id  postcode  property_valuation
customer_id            1.000000  0.011396           -0.012073
postcode               0.011396  1.000000           -0.508392
property_valuation    -0.012073 -0.508392            1.000000

In [12]:
df_new_customer.dtypes

first_name                              object
last_name                               object
gender                                  object
past_3_years_bike_related_purchases      int64
DOB                                     object
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
owns_car                                object
tenure                                   int64
address                                 object
postcode                                 int64
state                                   object
country                                 object
property_valuation                       int64
Rank                                     int64
Value                                  float64
dtype: object

In [13]:
df_new_customer.corr()

,past_3_years_bike_related_purchases,tenure,postcode,property_valuation,Rank,Value
past_3_years_bike_related_purchases,1.000000,-0.034183,0.015208,-0.010833,-0.004392,0.004884
tenure,-0.034183,1.000000,0.030573,-0.014913,0.005546,-0.012257
postcode,0.015208,0.030573,1.000000,-0.496725,-0.050190,0.055851
property_valuation,-0.010833,-0.014913,-0.496725,1.000000,0.016385,-0.014700
Rank,-0.004392,0.005546,-0.050190,0.016385,1.000000,-0.984093
Value,0.004884,-0.012257,0.055851,-0.014700,-0.984093,1.000000